﻿<!DOCTYPE html>
<html ng-app="app" ng-controller="layoutCtrl" lang="es-co">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>THHill</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    
    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <link href="vendor/bootstrap-datepicker/datepicker.css" type="text/css" rel="stylesheet" />
    <link href="vendor/chartjs/chart.min.css" type="text/css" rel="stylesheet" />
</head>
<body id="page-top">
    <div class="row clearfix" style="display:none; visibility:hidden;">@RenderBody()</div>

    <div id="modalContainer" style="width:0px;height:0px;"></div>

    <button id="btnDummy" type="button" style="display:none; visibility:hidden;" ng-click="DoNothing()">DummyAction</button>

    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p id="LoaderMessage"></p>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">THHill</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li ng-repeat="item in metaData.menu" class="nav-item active">
                    <a class="nav-link" href="javascript:void(0)" ng-click="LoadModule(item.Id)">{{item.Title}}</a>
                </li>
            </ul>
            <form class="form-inline">
                <ul class="navbar-nav">
                    <li class="nav-item" ng-show="!metaData.user.IsLogged">

                        <a class="nav-link" href="javascript:void(0)" ng-click="LoadLogin()">Login</a>
                    </li>
                    <li class="nav-item dropdown no-arrow" ng-show="metaData.user.IsLogged">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{metaData.user.FullName}}</span>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" style="max-height: 300px; overflow-y:auto;">
                            <a class="dropdown-item" href="javascript:void(0)">{{metaData.user.Email}}</a>

                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item" href="javascript:void(0)" ng-click="LogOff()" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </nav>

    <div class="container body-content">
        <div ng-include="metaData.viewMain" onload="onLoadLayout()" style="margin: 0px; padding: 0px;">
        </div>
        <hr />
        <footer>
            <p>&copy; 2019 - By 9Torch</p>
        </footer>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>

    <script src="vendor/angularjs/js/angular.min.js"></script>
    <script src="vendor/sanitize/angular-sanitize.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/bootstrap-notify/bootstrap-notify.js"></script>
    <script src="vendor/bootstrap-datepicker/bootstrap-datepicker.js" type="text/javascript"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/chartjs/chart.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- App Js -->
    <script src="app/app.js"></script>
    <script src="app/service.js"></script>
    <script src="app/layout.js"></script>
</body>
</html>
