﻿<!-- Page Wrapper -->
<div id="wrapper" >

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div ng-controller="adminCtrl" class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <nav id="subtopbar" class="navbar navbar-expand-lg navbar navbar-dark bg-dark" style="padding: 2px 2px 2px 10px;">
                            <a class="navbar-brand" href="javascript:void(0)" style="font-size: 14px;">{{module.metaData.Name}}</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSecondary" aria-controls="navbarSecondary" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSecondary">
                                <div class="navbar-nav" style="font-size: 10px;">
                                    <a ng-repeat="menuItem in topMenu" class="nav-item nav-link" href="javascript:void(0)" ng-click="menuItem.action()">{{menuItem.value}}<span class="sr-only">(current)</span></a>
                                </div>
                            </div>
                        </nav>
                        <hr>
                        <div class="row">
                            <div id="mainFilter" class="col-12 collapse">
                            </div>
                        </div>
                        <div class="row">
                            <div id="mainGrid" class="col-12 collapse">
                            </div>
                        </div>
                        <div class="row">
                            <div id="mainForm" class="col-12 collapse" style="padding-bottom:10px;">
                            </div>
                        </div>
                        <nav class="navbar fixed-bottom navbar-dark bg-dark">
                            <a class="navbar-brand" href="#">Fixed bottom</a>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>