﻿<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-3 d-none d-lg-block"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Bienvenido</h1>
                                </div>
                                <div class="user">
                                    <div ng-show="(metaData.user.Token === undefined || metaData.user.Token === '') && !metaData.state.isForgot">
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <h4>Iniciar sesion</h4>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <div class="form-group form-float form-group-sm">
                                                    <div class="form-line">
                                                        <input type="email" class="form-control" ng-model="metaData.user.Email" placeholder="Email" ng-disabled="!metaData.state.isFinish">
                                                        <label class="form-label">Email</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <div class="form-group form-float form-group-sm">
                                                    <div class="form-line">
                                                        <input type="password" class="form-control" ng-model="metaData.user.Password" placeholder="Contraseña" ng-disabled="!metaData.state.isFinish" ng-enter="Login()">
                                                        <label class="form-label">Contraseña</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-6">
                                                <button class="form-control input-sm btn-success" ng-click="metaData.state.isFinish ? Forgot() : void(0)" ng-disabled="!metaData.state.isFinish">Recordar</button>
                                            </div>
                                            <div class="col-sm-6">
                                                <button class="form-control input-sm btn-success" ng-click="metaData.state.isFinish ? Login() : void(0)" ng-disabled="!metaData.state.isFinish">Iniciar sesión</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="metaData.state.isForgot">
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <h4>Recordar contraseña</h4>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <div class="form-group form-float form-group-sm">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" ng-model="metaData.remember.Email" ng-disabled="!metaData.state.isFinish">
                                                        <label class="form-label">Email</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <div class="form-group form-float form-group-sm">
                                                    <div class="form-line">
                                                        &nbsp;<br><br><br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-6">
                                                <button class="form-control input-sm btn-success" ng-click="metaData.state.isFinish ? Return() : void(0)" ng-disabled="!metaData.state.isFinish">Volver</button>
                                            </div>
                                            <div class="col-sm-6">
                                                <button class="form-control input-sm btn-success" ng-click="metaData.state.isFinish ? ForgotSend() : void(0)" ng-disabled="!metaData.state.isFinish">Recordar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="metaData.user.Token !== undefined && metaData.user.Token !== '' && !metaData.state.isForgot">
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <h3>{{metaData.user.FullName}}</h3>
                                                <h4>{{metaData.user.Email}}</h4>
                                                <br>
                                                <h4>Crear contraseña</h4>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-6">
                                                <div class="form-group form-float form-group-sm">
                                                    <div class="form-line">
                                                        <input type="password" class="form-control" ng-model="metaData.password.First" ng-disabled="!metaData.state.isFinish">
                                                        <label class="form-label">Contraseña</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group form-float form-group-sm">
                                                    <div class="form-line">
                                                        <input type="password" class="form-control" ng-model="metaData.password.Confirm" ng-disabled="!metaData.state.isFinish">
                                                        <label class="form-label">Confirmar contraseña</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-6" style="text-align: center;">

                                            </div>
                                            <div class="col-sm-6">
                                                <button class="btn btn-primary" ng-click="metaData.state.isFinish ? CreatePassword() : void(0)" ng-disabled="!metaData.state.isFinish">Crear contraseña</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-none d-lg-block"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>